<h2>TextNew</h2>

{{input type="text"  focus-out='save' class="form-control" placeholder="Title" value=title disabled=entryNotAllowed size="50"}}

{{textarea class="form-control" focus-out='save' value=name cols="80" rows="36"}}
