<button class="btn btn-large btn-primary" {{action 'createText'}} > New Text </button>
<div class="row">
{{#each}}
  <div class="col-md-3">
{{#link-to 'texts.edit' id}}edit{{/link-to}}
    {{glance-text text=text id=id title=title}}

  </div>
{{/each}}
</div>

